@User.Identity!.Name
<br />
@User.Identity!.Name
<br />
@User.Identity!.Name
<br />
@User.Identity!.Name
<br />
@User.Identity!.Name
<br />
<ul>
    <li><a asp-controller="Account" asp-action="SignOut">Sign out</a></li>
</ul>