<section class="mailme">
    <h3>Want me to contact you?</h3>
    <p>Gief mail and I'll send you more info!</p>
    <form>
        <input type="email" name="email" placeholder="Your email...">
        <button type="submit">Send it</button>
    </form>
</section>