<section class="heroforsta">
    <div class="container">
        <div class="content">
            <div class="titles">
                <p class="title-2">WELCOME TO BMARKETO SHOP</p>
                <p class="title-1">Exclusive Chair gold Collection.</p>
                <a class="button" asp-controller="Product" asp-action="Index">Shop now</a>
            </div>
        </div>
        <div class="herocontainer">
            <img src="images/Add your image here.png" alt="lul">
        </div>
    </div>
</section>